# macOS
.DS_Store

# uv venv
.venv/
# vscode
.vscode/
# node
node_modules/

#smartboard
smartboard/dist/
smartboard/node_modules/
smartboard/node_modules/**/*
smartboard/src-tauri/target/
smartboard/src-tauri/target/**/*
smartboard/.vite/
smartboard/.DS_Store
smartboard/**/.DS_Store
smartboard/**/*.local
smartboard/*.html
!smartboard/index.html


# quarto
.quarto/

# python
.pytest_cache/
.mypy_cache/

#rust
09_Rust_Tauri应用/target/